@media (max-width: 1200px) {
    body {
        background-color: rgb(235, 8, 8);
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .dragon {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    .container .descricao {
        color: #ffffff;
        text-align: center;
    }

    .container .botao-trailer {
        background-color: #ffffff;
    }
}

@media (max-width:500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .imagem-titulo {
        max-width: 75%;
    }
}